@import "~jquery-modal/jquery.modal.css";

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;

  &.green {
    background-color: #155724;;
  }

  &.red {
    background-color: #721c24;
  }
}

form.wp-mailgun-admin-section, #mailing-list-edit-form {
  margin: 1.5em 0;

  .form-field {
    margin: 1em 0;
    flex: 1;
  }

  label {
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: .5em;
    display: block;
  }

  textarea {
    height: 100px;
  }

  input, select, textarea {
    margin: 0;
    max-width: 100%;
    width: 100% !important;
  }

  .help {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  .form-section {
    display: flex;
    margin: 1em 0;

    .form-field {
      & + .form-field {
        margin-left: 10px;
      }
    }
  }
}

#mailing-list-edit-form {
  .buttons {
    text-align: right;
  }
}

table.mg-mailing-lists {
  width: auto;

  td {
    vertical-align: middle;
  }

  .title .name {
    color: #000;
    font-size: 14px;
    font-weight: 500;
  }

  .title .description {
    font-size: 12px;
  }
}